  @media(min-width: 768px){
    .footer-container {
      background-color: #333;
      color: #fff;
      text-align: center;
      padding: 20px 0;
      position: fixed; /*щоб "прилипав" до низу екрану*/
      bottom: 0;
      width: 100%;
    }
    
    .footer-content {
      max-width: 960px;
      margin: 0 auto;/*щоб контент був посередині*/
    }
    
    .footer-content p {
      margin: 5px 0;
    }
  }
  @media (max-width: 767px){
    .footer-container {
      background-color: #333;
      color: #fff;
      text-align: center;
      padding: 20px 0;
      position: fixed; /*щоб "прилипав" до низу екрану*/
      bottom: 0;
      width: 100%;
    }
    
    .footer-content {
      max-width: 960px;
      margin: 0 auto;/*щоб контент був посередині*/
    }
    
    .footer-content p {
      font-size: 75%;
      margin: 5px 0;
    }
  }